# <u><span style="font-family: 'Times New Roman'; font-size: 60px;">PROJET DE PYTHON POUR LA DATA SCIENCE</span></u>
# <u>THEME</u>:<span style="font-family: 'Times New Roman'; font-size: 40px;"> Analyse des facteurs socio-d√©mographiques et techniques influen√ßant la gravit√© des accidents routiers en France.  </span>
## <u>1. Contexte g√©n√©rale</u>  
<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;Les accidents de la route repr√©sentent une probl√©matique majeure de sant√© publique et de s√©curit√© en France. Chaque ann√©e, malgr√© les nombreux progr√®s r√©alis√©s sur le plan de la s√©curit√© routi√®re(g√©n√©ralisations des radars automatiques, freinage automatique d'urgence, renforcement des infrastructures routi√®res,...), des milliers de personnes sont impliqu√©es dans des accidents, causant des blessures graves, des pertes humaines, et d'important d√©g√¢ts mat√©riels. Des disparit√©s sont observ√©es dans la gravit√© des accidents en fonction des caract√©ristiques des usagers, des v√©hicules, et des lieux o√π se produisent ces incidents. Les usagers de la route, par leurs comportements et leurs caract√©ristiques socio-d√©mographiques (√¢ge, sexe, r√¥le dans l‚Äôaccident), jouent un r√¥le d√©terminant dans la survenue et la gravit√© des accidents. Parall√®lement, les caract√©ristiques techniques des v√©hicules impliqu√©s (type, anciennet√©, nombre de passagers) influencent √©galement l‚Äôissue des accidents. Enfin, les particularit√©s des infrastructures routi√®res et des zones g√©ographiques contribuent √† moduler la gravit√© des impacts. Dans ce contexte, il est essentiel d'analyser ces diff√©rents facteurs pour mieux comprendre leur influence sur la gravit√© des accidents routiers. Une telle analyse permettra d'identifier les populations et les types de v√©hicules les plus vuln√©rables, et de fournir des informations pr√©cieuses pour orienter les politiques de pr√©vention et les initiatives visant √† am√©liorer la s√©curit√© routi√®re. C'est dans ce cadre que s'inscrit ce projet. L‚Äôobjectif est de dresser un portrait complet des facteurs socio-d√©mographiques et techniques associ√©s √† la gravit√© des accidents, √† travers des analyses descriptives et une mod√©lisation statistique permettant de hi√©rarchiser ces facteurs.</span>

## $\textrm{1. Pr√©sentation des bases de donn√©es}$
<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;Pour la mise en ≈ìuvre de ce projet, nous partirons de 4 base de donn√©es **caract-2023**, **usagers-2023**, **lieux-2023**, **vehicules-2023** tous disponibles et t√©l√©chargeable sur la plateforme [data.gouv](https://www.data.gouv.fr/fr/datasets/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2023/) et fournissant des donn√©es sur 54822 accidents survenus en france en 2023 pour l'ann√©e 2023. Un descriptif d√©taill√© de chacune des variables des bases est disponible dans le fichier **Description des bases de donn√©es annuelles_2021** disponible sur ce d√©p√¥t.  
&nbsp;&nbsp;&nbsp;&nbsp;La base de donn√©es **caract-2023**  fournie un certains nombres d'informations relatives aux caract√©ristiques des accidents en 2023. Elle renseigne les caract√©ristique des 54822 accidents enregistr√©s en 2023 et comporte 15 variables dont :  
* <span style="font-family: 'Times New Roman'; font-size: 16px;"> l'identifiant unique de l'accident (Num_Acc)</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">le jour (jour), le mois (mois), l'ann√©e de l'accident (an) (√©videmment 2023üòÅ) et l'heure et la minute(hrmn) de survenue de l'accident</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">le num√©ro de d√©partement (dep) et de commune (com)</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">les coordonn√©es g√©ographiques telles que la longitude (long) et la latitude (lat)</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">les conditions atmosph√©rique (atm)</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">le type de collision (col) </span>  

<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;Voici un bref apercu de la base caract-2023 : </span>

In [18]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/onyxia/.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /home/onyxia/.local/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/onyxia/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/onyxia/.local/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in /home/onyxia/.local/lib/python3.10/site-packages (from pandas) (2.1.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
caract=pd.read_csv("caract-2023.csv",sep=";")
caract

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du G√©n√©ral Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54817,202300054818,26,10,2023,20:45,5,974,97416,2,1,1,6,LA FONTAINE (RUE JEAN DE),"-21,33828000","55,47771000"
54818,202300054819,26,10,2023,19:10,3,974,97416,1,1,1,3,RN3 (ANCIENNE ROUTE),"-21,28865000","55,50994000"
54819,202300054820,26,10,2023,09:40,1,974,97411,2,1,1,7,BAMBOU (CHEMIN DE LA RUELLE),"-20,90129000","55,40598000"
54820,202300054821,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,"4,89713000","-52,32854000"
54821,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000"

<span style="font-family: 'Times New Roman'; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;La base de donn√©es **vehicules-2023** renseigne sur les caract√©ristiques des v√©hicules impliqu√©s dans les accidents enregistr√©s en 2023. Au total 93585 v√©hicules enregistr√©s impliqu√©s dans les accidents en 2023 </span>

In [20]:
vehicules=pd.read_csv("vehicules-2023.csv",sep=";")
vehicules

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202300000001,155¬†680¬†557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155¬†680¬†556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155¬†680¬†554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155¬†680¬†555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155¬†680¬†551,B01,1,7,0,2,9,2,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93580,202300054820,155¬†583¬†348,A01,3,7,0,9,4,26,1,NaN
93581,202300054821,155¬†583¬†346,A01,1,30,0,2,3,9,1,NaN
93582,202300054821,155¬†583¬†347,B01,1,7,0,2,2,9,1,NaN
93583,202300054822,155¬†583¬†344,A01,2,7,0,2,7,22,1,NaN
93584,202300054822,155¬†583¬†345,B01,2,50,14,2,1,1,3,NaN

In [ ]:
usagers=pd.read_csv("usagers-2023.csv",sep=";")
usagers

<span style="font-family: 'Times New Roman'; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;La base de donn√©es lieux renseigne sur les lieux o√π sont survenus les accidents enregistr√©s. Au total 70860 lieux enregistr√©s, pas forc√©ment tous diff√©rents car r√©p√©t√©s autant que fois qu'il s'y produisent d'accidents et 18 variables dont : </span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">(Num_Acc) qui repr√©sente toujours le m√™me identifiant utilis√© dans la base caract</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">la cat√©gorie de la route (catr) </span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;">le r√©gime de circulation (circ) </span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;"> le profil en long (prof) qui d√©crit la d√©clivit√© de la voie </span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;"> l'√©tat de la surface de la voie (surf)</span>
* <span style="font-family: 'Times New Roman'; font-size: 16px;"> la vitesse maximale autoreis√©e sur le lieux et au moment de l'accident (vma)   
&nbsp;&nbsp;&nbsp;&nbsp; Aper√ßu de la base</span>

In [21]:
lieux=pd.read_csv("lieux-2023.csv",sep=";")
lieux

/tmp/ipykernel_77467/1789960282.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux=pd.read_csv("lieux-2023.csv",sep=";")

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30