# <u><span style="font-family: 'Times New Roman'; font-size: 60px;">PROJET DE PYTHON POUR LA DATA SCIENCE</span></u>
# <u>THEME</u>:<span style="font-family: 'Times New Roman'; font-size: 40px;"> Analyse des facteurs socio-d√©mographiques et techniques influen√ßant la gravit√© des accidents routiers en France.  </span>

## <span style="font-family: 'Times New Roman'; font-size: 40px;"><u>1. Contexte g√©n√©rale</u></span>  
<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;Les accidents de la route repr√©sentent une probl√©matique majeure de sant√© publique et de s√©curit√© en France. Chaque ann√©e, malgr√© les nombreux progr√®s r√©alis√©s sur le plan de la s√©curit√© routi√®re(g√©n√©ralisations des radars automatiques, freinage automatique d'urgence, renforcement des infrastructures routi√®res,...), des milliers de personnes sont impliqu√©es dans des accidents, causant des blessures graves, des pertes humaines, et d'important d√©g√¢ts mat√©riels. Des disparit√©s sont observ√©es dans la gravit√© des accidents en fonction des caract√©ristiques des usagers, des v√©hicules, et des lieux o√π se produisent ces incidents. Les usagers de la route, par leurs comportements et leurs caract√©ristiques socio-d√©mographiques (√¢ge, sexe, r√¥le dans l‚Äôaccident), jouent un r√¥le d√©terminant dans la survenue et la gravit√© des accidents. Parall√®lement, les caract√©ristiques techniques des v√©hicules impliqu√©s (type, anciennet√©, nombre de passagers) influencent √©galement l‚Äôissue des accidents. Enfin, les particularit√©s des infrastructures routi√®res et des zones g√©ographiques contribuent √† moduler la gravit√© des impacts. Dans ce contexte, il est essentiel d'analyser ces diff√©rents facteurs pour mieux comprendre leur influence sur la gravit√© des accidents routiers. Une telle analyse permettra d'identifier les populations et les types de v√©hicules les plus vuln√©rables, et de fournir des informations pr√©cieuses pour orienter les politiques de pr√©vention et les initiatives visant √† am√©liorer la s√©curit√© routi√®re. C'est dans ce cadre que s'inscrit ce projet. L‚Äôobjectif est de dresser un portrait complet des facteurs socio-d√©mographiques et techniques associ√©s √† la gravit√© des accidents, √† travers des analyses descriptives et une mod√©lisation statistique permettant de hi√©rarchiser ces facteurs.</span>

## 1. Pr√©sentation des bases de donn√©es et traitement des bases de donn√©es
Pour la mise en ≈ìuvre de ce projet, nous partirons de 4 base de donn√©es **caract-2023**, **usagers-2023**, **lieux-2023**, **vehicules-2023** tous disponibles et t√©l√©chargeable sur la plateforme [data.gouv](https://www.data.gouv.fr/fr/datasets/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2023/) et fournissant des donn√©es sur 54822 accidents survenus en France en 2023 pour l'ann√©e 2023. Un descriptif d√©taill√© de chacune des variables des bases est disponible dans le fichier **Description des bases de donn√©es annuelles_2021** disponible sur ce d√©p√¥t.  
### 1.1 Pr√©sentation et traitement de la base caract-2023
La base **caract-2023** (accidents recens√©s entre le 1er janvier et le 31 d√©cembre 2023) est produite et maintenue par l'Observatoire national interminist√©riel de la s√©curit√© routi√®re (ONISR), en collaboration avec les forces de l‚Äôordre (police, gendarmerie) et les services pr√©fectoraux.  

La base **caract-202** regroupe des informations sur les accidents, telles que :  

- **Num_Acc** : Le num√©ro d'identifiant unique attribu√© √† chaque accident. Il permet de relier les diff√©rentes rubriques du fichier pour une analyse plus coh√©rente.  
- **jour et mois** : Ces variables indiquent respectivement le jour et le mois o√π l'accident a eu lieu, facilitant l'analyse temporelle des accidents.  
- **an** : L'ann√©e durant laquelle l'accident s'est produit. Cette information est essentielle pour les √©tudes longitudinales ou les tendances annuelles.  
- **hrmn** : Heure et minutes pr√©cises de l'accident, permettant de comprendre les variations horaires dans les occurrences des accidents.  
- **lum** : Les conditions d‚Äô√©clairage au moment de l‚Äôaccident, classifi√©es en cinq cat√©gories allant de plein jour (1) √† nuit avec √©clairage public allum√© (5).  
- **dep** : Le code INSEE du d√©partement o√π l'accident s'est produit. Ce code est utile pour des analyses g√©ographiques √† l‚Äô√©chelle d√©partementale.  
- **com** : Le code INSEE de la commune, compos√© du code d√©partemental suivi de trois chiffres, pour localiser pr√©cis√©ment l‚Äôaccident.  
- **agg** : La localisation de l'accident par rapport √† l‚Äôagglom√©ration, avec une distinction entre hors agglom√©ration (1) et en agglom√©ration (2).  
- **int** : La typologie de l‚Äôintersection o√π l'accident a eu lieu, d√©finie par neuf cat√©gories, notamment intersection en T (3) ou giratoire (6).  
- **atm** : Les conditions m√©t√©orologiques lors de l'accident, allant de normale (1) √† des ph√©nom√®nes comme neige (4) ou vent fort (6).  
- **col** : Le type de collision impliquant les v√©hicules, tel que frontale entre deux v√©hicules (1), collision multiple (5) ou sans collision (7).  
- **adr** : L'adresse postale associ√©e aux accidents survenus en agglom√©ration, pour une localisation pr√©cise.  
- **lat et long** : Latitude et longitude correspondant √† la position g√©ographique exacte de l'accident.  

Au total, elle regroupe donc 15 variables relatives aux 54822 enregistr√©s.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
caract=pd.read_csv("caract-2023.csv",sep=";")
caract

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du G√©n√©ral Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54817,202300054818,26,10,2023,20:45,5,974,97416,2,1,1,6,LA FONTAINE (RUE JEAN DE),"-21,33828000","55,47771000"
54818,202300054819,26,10,2023,19:10,3,974,97416,1,1,1,3,RN3 (ANCIENNE ROUTE),"-21,28865000","55,50994000"
54819,202300054820,26,10,2023,09:40,1,974,97411,2,1,1,7,BAMBOU (CHEMIN DE LA RUELLE),"-20,90129000","55,40598000"
54820,202300054821,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,"4,89713000","-52,32854000"
54821,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000"


Plusieurs variables, dans le cadre de notre projet, seront pas pertinentes pour capter la gravit√© des accidents suivant les aspects d√©mographiques :  
- **jour** : le jour de la semaine o√π s'est produit l'accident. Elle ne pr√©sente pas grand int√©r√™t pour notre √©tude. 
- **an** : √©videmment 2023 üòÅ    
- **hrmn** : Heure et minutes pr√©cises de l'accident. Cette variable est tr√®s d√©taill√©e et peut introduire une complexit√© inutile dans l‚Äôanalyse.  
- **lum** : Les conditions d‚Äô√©clairage au moment de l‚Äôaccident sont souvent associ√©es √† l‚Äôheure (**hrmn**) ou au type de localisation (**agg**). Cela pourrait entra√Æner une multicolin√©arit√© dans notre mod√®le statistique. Cette variable a g√©n√©ralement moins d‚Äôimpact direct sur la gravit√© des accidents que des facteurs comme la vitesse ou les caract√©ristiques des v√©hicules.   
- **int** : La typologie de l‚Äôintersection compte neuf cat√©gories. Pour une mod√©lisation efficace, ces cat√©gories devraient √™tre regroup√©es, ce qui n√©cessite un effort de transformation des donn√©es sans valeur ajout√©e significative. Bien qu'elle puisse influer sur les types d‚Äôaccidents, elle ne d√©termine pas directement leur gravit√©.  
- **col** : Le type de collision est utile pour comprendre comment les accidents surviennent (ex. collision multiple, sans collision), mais il est moins directement li√© √† la gravit√©.  
- **adr** : L‚Äôadresse postale pr√©cise de l‚Äôaccident n‚Äôapporte pas d‚Äôinformation directe sur la gravit√©.  

Ces variables ont √©t√© exclues parce qu'elle introduisent une **complexit√© inutile** dans l‚Äôanalyse, manquent d‚Äôun **lien direct avec la gravit√© des accidents** ou encore des **redondances** avec d‚Äôautres variables plus pertinentes pour ce projet.  

Nous retenons donc uniquement de cette base les variables suivantes   
*  **Num_Acc** Elle nous sera utile pour d'√©ventuelles concact√©nations et d√©nombrement d'accident
*  **mois** : Elle nous permettra de d√©terminer s'il y a des p√©riodes de l'ann√©e o√π les accidents sont plus grave. 
*  **lum**: On pourra s'en servir pour d√©terminer une √©ventuelle corr√©lation avec la gravit√© de l'accident.   
*  **dep** et **com**: le num√©ro de d√©partement et de commune pour mieux situer les r√©gions o√π les accidents les plus √† risque sont susceptible de se produire  
*  **agg** :En effet en  zone urbaine, les accidents sont souvent moins graves mais plus fr√©quents, tandis qu'en zone rurale, la vitesse √©lev√©e et l'√©loignement des secours aggravent les blessures. Cette variable permet donc de mieux comprendre les diff√©rences dans les facteurs de risque et les circonstances¬†des¬†accidents. 
*  **long** et **lag** : On pourra s'en servir pour une repr√©sentation g√©ospatiale des accidents 
*  **atm** : pout les conditions atmosph√©rique au moment o√π l'accident s'est produit. On pourra s'en servi pour d√©terminer les conditions m√©t√©rologiques les plus √† risque. 
On proc√®de donc √† l'√©limination du reste des variables (ou √† la s√©lections des variables retenues pour cette base)

In [9]:
caract=caract[["Num_Acc","mois","lum","dep","atm","com","agg","lat","long"]]
caract

,Num_Acc,mois,lum,dep,atm,com,agg,lat,long
0,202300000001,5,1,75,2,75101,2,"48,86638600","2,32347100"
1,202300000002,5,5,94,3,94080,2,"48,84547782","2,42868146"
2,202300000003,5,1,94,2,94022,2,"48,76240000","2,40655000"
3,202300000004,5,5,94,3,94078,2,"48,73248432","2,44687575"
4,202300000005,5,5,94,3,94068,2,"48,78581000","2,49217000"
...,...,...,...,...,...,...,...,...,...
54817,202300054818,10,5,974,1,97416,2,"-21,33828000","55,47771000"
54818,202300054819,10,3,974,1,97416,1,"-21,28865000","55,50994000"
54819,202300054820,10,1,974,1,97411,2,"-20,90129000","55,40598000"
54820,202300054821,10,1,973,1,97302,1,"4,89713000","-52,32854000"
54821,202300054822,10,1,69,6,69387,2,"45,73306000","4,82540000"

<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp; Nous v√©rifions maintenant la pr√©sence d'√©ventuelles valeurs manquantes.  </span>

In [8]:
caract.isnull().any()

Num_Acc    False
mois       False
lum        False
dep        False
atm        False
com        False
agg        False
lat        False
long       False
dtype: bool

<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp;La base retenue ne comporte donc pas de valaurs manquantes. Passons maintenant √† la base vehicules-2023. </span>

## 1.2 Pr√©sentation et traitement de la base vehicules-2023
### Variables pr√©sentes dans la  base
La base de donn√©es **vehicules-2023** fournit des informations d√©taill√©es sur les caract√©ristiques des v√©hicules impliqu√©s dans des accidents corporels, permettant d'explorer les sp√©cificit√©s techniques des v√©hicules ainsi que des √©l√©ments li√©s au contexte de l'accident. Les variables pr√©sentes dans cette base sont les suivantes : 
- ****Num_Acc**** : Identifiant unique de l‚Äôaccident, utilis√© pour relier les v√©hicules impliqu√©s √† l'accident correspondant d√©crit dans les autres rubriques.
- ****id_vehicule**** : Identifiant num√©rique unique attribu√© √† chaque v√©hicule impliqu√© dans un accident, incluant les pi√©tons associ√©s aux v√©hicules impliqu√©s.
- ****Num_Veh**** : Identifiant alphanum√©rique du v√©hicule, pouvant √™tre utilis√© comme alternative √† **id_vehicule** pour associer les v√©hicules aux usagers et accidents.
- ****senc**** : Indique le sens de circulation du v√©hicule, avec des options comme :
  - Num√©ro croissant de point kilom√©trique (1),
  - D√©croissant (2),
  - Absence de rep√®re (3).
- ****catv**** : Cat√©gorie du v√©hicule impliqu√© dans l‚Äôaccident. Les cat√©gories incluent :
  - Bicyclette (01),
  - Scooter (30),
  - Autobus (37),
  - Train (39),
  - V√©hicules non motoris√©s comme les engins de d√©placement personnel (60).  
  Cette variable est cruciale pour analyser l'impact des types de v√©hicules sur la s√©curit√© routi√®re.
- ****obs**** : Type d‚Äôobstacle fixe heurt√© par le v√©hicule lors de l'accident. Exemples :
  - V√©hicules en stationnement (1),
  - Arbres (2),
  - Glissi√®res m√©talliques (3-4),
  - B√¢timents, poteaux ou trottoirs (6-15),
  - Sortie de chauss√©e sans obstacle (16).
- ****obsm**** : Type d‚Äôobstacle mobile heurt√©, comme :
  - Pi√©ton (1),
  - Autre v√©hicule (2),
  - Animal domestique (5) ou sauvage (6),
  - Autres obstacles mobiles (9).
- ****choc**** : Point de choc initial du v√©hicule, comme :
  - Avant (1),
  - C√¥t√©s (7-8),
  - Arri√®re (4),
  - Tonneaux ou chocs multiples (9).
- ****manv**** : Manoeuvre principale effectu√©e par le v√©hicule avant l‚Äôaccident. Exemples :
  - Changement de file (11-14),
  - D√©passement (17-18),
  - Demi-tour (10),
  - Stationnement (20),
  - √âvitement (21).
- ****motor**** : Type de motorisation du v√©hicule impliqu√© :
  - Hydrocarbures (1),
  - Hybride √©lectrique (2),
  - √âlectrique (3),
  - Hydrog√®ne (4),
  - Motorisation humaine (5).
- ****occutc**** : Nombre d'occupants dans un v√©hicule de transport en commun au moment de l‚Äôaccident. Variable cruciale pour les analyses concernant les transports collectifs.

In [6]:
vehicules=pd.read_csv("vehicules-2023.csv",sep=";")
vehicules

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202300000001,155¬†680¬†557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155¬†680¬†556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155¬†680¬†554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155¬†680¬†555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155¬†680¬†551,B01,1,7,0,2,9,2,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93580,202300054820,155¬†583¬†348,A01,3,7,0,9,4,26,1,NaN
93581,202300054821,155¬†583¬†346,A01,1,30,0,2,3,9,1,NaN
93582,202300054821,155¬†583¬†347,B01,1,7,0,2,2,9,1,NaN
93583,202300054822,155¬†583¬†344,A01,2,7,0,2,7,22,1,NaN
93584,202300054822,155¬†583¬†345,B01,2,50,14,2,1,1,3,NaN

### Variables exclues et justifications
* **senc** (Sens de circulation)
Bien que le sens de circulation soit important pour comprendre les circonstances de l'accident, il n'a pas de lien direct avec la gravit√© des blessures ou des d√©g√¢ts mat√©riels. Le type de collision (**col**) ou les caract√©ristiques de localisation (variables g√©ographiques) capturent d√©j√† ces effets, notamment pour les accidents frontaux.

* **choc** (Point de choc initial)
Le point de choc influence les dommages subis par le v√©hicule, mais il ne refl√®te pas n√©cessairement la gravit√© des blessures pour les passagers. Inclure cette variable n√©cessiterait un regroupement ou une transformation des cat√©gories pour √©viter un exc√®s de granularit√©, sans garantie de valeur ajout√©e.

* **manv** (Manoeuvre principale)
Les nombreuses cat√©gories de cette variable rendent son int√©gration dans une mod√©lisation statistique complexe et peu pertinente pour expliquer la gravit√©. Les circonstances des manoeuvres sont souvent corr√©l√©es avec des variables comme le type de collision (**col**) ou les conditions m√©t√©orologiques (**atm**).

Seul les variables suivantes sont donc retenues pour notre √©tudes : 
* L'identifiant de l‚Äôaccident **Num_Acc** , **id_vehicule** et l'identifiant **num_veh**
* **catv** :  On pourra s'en servir pour d√©terminer le type de v√©hicule susceptible d'avoir impliqu√© dans les accidents les plus √† risque. 
* **motor** :utile pour voir s'il y a des types de vehicules susceptibles de causer des d√©g√¢ts plus graves en cas d'accidents 
On proc√®de donc √† l'extraction de cette des variables

In [7]:
vehicules=vehicules[["Num_Acc","id_vehicule","num_veh","catv","motor"]]
vehicules

            Num_Acc  id_vehicule num_veh  catv  motor
0      202300000001  155¬†680¬†557     A01    30      1
1      202300000002  155¬†680¬†556     A01     7      1
2      202300000003  155¬†680¬†554     B01     2      1
3      202300000003  155¬†680¬†555     A01     7      1
4      202300000004  155¬†680¬†551     B01     7      4
...             ...          ...     ...   ...    ...
93580  202300054820  155¬†583¬†348     A01     7      1
93581  202300054821  155¬†583¬†346     A01    30      1
93582  202300054821  155¬†583¬†347     B01     7      1
93583  202300054822  155¬†583¬†344     A01     7      1
93584  202300054822  155¬†583¬†345     B01    50      3

[93585 rows x 5 columns]

<span style="font-family: 'Times New Roman'; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;On v√©rifie maintenant la pr√©sence d'√©ventuelles valeurs manquantes </span>

In [8]:
vehicules.isnull().any()

Num_Acc        False
id_vehicule    False
num_veh        False
catv           False
motor          False
dtype: bool

On n'a donc pas de valeurs manquantes dans cette base. Passons maintenant √† la base **usagers-2023**. 
## 1.3 Pr√©sentation et traitement de la base usagers-2023  
### Variables pr√©sentes dans la  base
La base de donn√©es **usagers-2023** couvre l‚Äôensemble des **accidents corporels** survenus en France m√©tropolitaine et dans les d√©partements d‚Äôoutre-mer (DOM) durant l‚Äôann√©e 2023. Elle fournit un ensemble d'informations sur tous les usagers impliqu√©s dans des accidents d√©clar√©s par les forces de l‚Äôordre.  
Chaque ligne correspond √† un usager (conducteur, passager, ou pi√©ton) et contient les informations suivantes :  
- **Num_Acc** : Identifiant unique de l‚Äôaccident, permettant de relier les usagers √† un accident particulier d√©crit dans d'autres rubriques.  
- **id_usager** : Code unique attribu√© √† chaque usager impliqu√© dans l'accident, incluant les pi√©tons heurt√©s.  
- **id_vehicule** : Identifiant num√©rique du v√©hicule associ√© √† l‚Äôusager.  
- **num_Veh** : Identifiant alphanum√©rique du v√©hicule, utilis√© pour √©tablir les correspondances entre v√©hicules et usagers.  
- **place** : Position occup√©e par l‚Äôusager dans le v√©hicule (conducteur, passager avant, passager arri√®re).  
- **catu** : Cat√©gorie de l‚Äôusager (conducteur, passager, ou pi√©ton).  
- **grav** : Gravit√© des blessures (indemne, tu√©, bless√© hospitalis√©, bless√© l√©ger).  
- **sexe** : Sexe de l'usager (masculin ou f√©minin).  
- **An_nais** : Ann√©e de naissance de l‚Äôusager, permettant de calculer son √¢ge au moment de l‚Äôaccident.  
- **trajet** : Motif du d√©placement (domicile-travail, courses, usage professionnel, promenade).  
- **secu1, secu2, secu3** : Indications sur l‚Äôutilisation d‚Äô√©quipements de s√©curit√© (ceinture, casque, gants, etc.).  
- **locp** : Localisation du pi√©ton au moment de l‚Äôaccident (trottoir, passage pi√©ton, chauss√©e, etc.).  
- **actp** : Action du pi√©ton au moment de l‚Äôaccident (se d√©placer, traverser, √™tre masqu√©).  
- **etatp** : √âtat du pi√©ton (seul, accompagn√©, ou en groupe).

In [10]:
usagers=pd.read_csv("usagers-2023.csv",sep=";")
usagers

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202300000001,203¬†851¬†184,155¬†680¬†557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203¬†851¬†182,155¬†680¬†556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203¬†851¬†183,155¬†680¬†556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203¬†851¬†180,155¬†680¬†554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203¬†851¬†181,155¬†680¬†555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203¬†720¬†720,155¬†583¬†346,A01,1,1,4,1,1971.0,1,2,0,-1,0,0,-1
125785,202300054821,203¬†720¬†721,155¬†583¬†347,B01,1,1,1,2,1968.0,1,1,0,-1,0,0,-1
125786,202300054822,203¬†720¬†717,155¬†583¬†344,A01,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1
125787,202300054822,203¬†720¬†718,155¬†583¬†344,A01,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1
125788,202300054822,203¬†720¬†719,155¬†583¬†345,B01,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1

 
## Variables exclues et justification
Comme dans le cas de la base caracteristique 2023, plusieurs variables seront exclues de l'analyse. Voici ceux qui pour des raisons de redondances ou complexit√©s inutiles sont enlever:
* **locp** : Localisation du pi√©ton au moment de l'accident  
Il ne concerne que les pi√©tons, rendant son utilisation limit√©e dans une analyse globale.  

* **actp** : Action du pi√©ton au moment de l'accident  
Sp√©cifique aux pi√©tons, donc peu pertinente pour une analyse impliquant diff√©rents types d‚Äôusagers. L'interpr√©tation est subjective pouvant varier selon les rapports des forces de l‚Äôordre.   

* **etatp** : √âtat du pi√©ton au moment de l'accident  
Elle est Limit√© aux pi√©tons, r√©duisant son int√©r√™t pour une analyse globale et l‚Äô√©tat du pi√©ton (seul ou en groupe) a une influence n√©gligeable sur la gravit√© des accidents. 

* **trajet** : Motif du d√©placement de l‚Äôusager  
Le trajet est pertinent pour analyser les contextes, mais peu li√© √† la gravit√© des accidents. Il est redondant avec des donn√©es d√©mographiques (√¢ge, cat√©gorie socioprofessionnelle).     

* **catu** : Cat√©gorie de l‚Äôusager impliqu√©  
Redondante avec d‚Äôautres variables plus d√©taill√©es (**place**, **trajet**) avec une contribution indirecte √† l‚Äôanalyse de la gravit√©, car les facteurs techniques et environnementaux pr√©dominent.

Seules les variables suivantes seront donc retenues de cette base : 
* l'identifiant de l'accident **Num_Acc** de la base caract-2023, l'identifiant unique de l‚Äôusager **id_usager**, l'identifiant unique du v√©hicule **id_vehicule** repris pour chacun des usagers occupant le vehicule et l'identifiant du v√©hicule (Num_Veh)repris pour chacun des usagers occupant ce v√©hicule  
* le sexe **sexe** pour d√©terminer √©ventuellement disparit√© de la gravit√© au sein du genre </span>
* **place** : On pourra s'en servir pour d√©terminer si le fait d'√™tre assis √† une place ou une autre vous expose plus √† de plus grave blessures ou pas.  
*  l'ann√©e de naissance **an_nais**. On s'en servira pour d√©terminer l'age des usager impliqu√© dans les accidents ayant eu lieu et si une tranche d'age est plus expos√©e aux accidents graves ou non. </span> 
* **secu1**, **secu2**, **secu3**: Pour v√©rifier si l'utilisation de dispositif de s√©curit√© r√©duit effectivement la gravit√© de l'accidents. 
* la gravit√© des blessures **grav** qui nous permettra de mesurer la gravit√© de l'accident    
Nous proc√©dons maintenant √† l'extraction de ces variables

In [11]:
usagers=usagers[['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh','grav','place', 'sexe', 'an_nais','secu1', 'secu2', 'secu3']]
usagers

,Num_Acc,id_usager,id_vehicule,num_veh,grav,place,sexe,an_nais,secu1,secu2,secu3
0,202300000001,203¬†851¬†184,155¬†680¬†557,A01,4,1,1,1978.0,2,0,-1
1,202300000002,203¬†851¬†182,155¬†680¬†556,A01,1,1,2,1997.0,1,0,-1
2,202300000002,203¬†851¬†183,155¬†680¬†556,A01,3,10,1,1997.0,0,-1,-1
3,202300000003,203¬†851¬†180,155¬†680¬†554,B01,3,1,1,1987.0,2,6,0
4,202300000003,203¬†851¬†181,155¬†680¬†555,A01,1,1,2,1984.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203¬†720¬†720,155¬†583¬†346,A01,4,1,1,1971.0,2,0,-1
125785,202300054821,203¬†720¬†721,155¬†583¬†347,B01,1,1,2,1968.0,1,0,-1
125786,202300054822,203¬†720¬†717,155¬†583¬†344,A01,1,2,2,2003.0,1,-1,-1
125787,202300054822,203¬†720¬†718,155¬†583¬†344,A01,1,1,2,2002.0,1,-1,-1
125788,202300054822,203¬†720¬†719,155¬†583¬†345,B01,3,1,2,1995.0,2,-1,-1

<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp; Passons √† la v√©rifications de valeurs manquantes </span>

In [12]:
usagers.isnull().any()

Num_Acc        False
id_usager      False
id_vehicule    False
num_veh        False
grav           False
place          False
sexe           False
an_nais         True
secu1          False
secu2          False
secu3          False
dtype: bool

<span style="font-family: 'Times New Roman'; font-size: 16px;"> &nbsp;&nbsp;&nbsp;&nbsp; On a donc pr√©sence de valeurs manquantes pour la variable ann√©e de naissance (**an_nais**) </span>

In [13]:
n=usagers[("an_nais")].isnull().sum()
print('Il y a ',n*100/len(usagers),'% de valeurs manquantes')

Il y a  2.0653634260547427 % de valeurs manquantes

&nbsp;&nbsp;&nbsp;&nbsp; Ce pourcentage √©tant tr√®s faible  par rapport √† la taille totale de notre base allant on peut enlever les donn√©es correspondant de notre base puisqu'elles n'impacteront pas tellement nos r√©sultats.   
&nbsp;&nbsp;&nbsp;&nbsp;De plus, L‚Äô√¢ge √©tant  directement interpr√©table en tant que facteur socio-d√©mographique, la variable an_nais sera transform√© en une variable cat√©gorielle **age** pour des analyses plus pertinentes</span>

In [14]:
usagers=usagers.dropna()#Suppression des valeurs manquantes
age=2023-usagers["an_nais"]
print("Le plus jeune usagers de la base a ",age.min(),' ans et le plus √¢g√© a ',age.max(),' ans')

Le plus jeune usagers de la base a  0.0  ans et le plus √¢g√© a  110.0  ans

&nbsp;&nbsp;&nbsp;&nbsp;Cela suppose que des personnes tr√®s √¢g√©es ainsi que des nourrissons √©taient impliqu√©s d'une certaines mani√®re ou d'une autre dans des accidents.
La variable cat√©gorielle √¢ge sera cod√© comme suit : 
* **Enfants (0‚Äì14 ans)** cod√© **1**:  
   Ils peuvent √™tre pi√©tons, passagers, ou dans certains cas, conducteurs (m√™me si c'est tr√®s rare).Les enfants sont souvent plus vuln√©rables lors d'accidents en tant que passagers ou pi√©tons, et cette cat√©gorie inclut des groupes d'√¢ge o√π les usagers sont g√©n√©ralement sous la responsabilit√© d'adultes.

* **Jeunes adolescents (15‚Äì17 ans)** cod√© **2**:  
   Les adolescents peuvent √™tre passagers, pi√©tons, ou conducteurs en apprentissage (par exemple, dans le cadre de la conduite accompagn√©e). Ces jeunes adultes commencent √† √™tre impliqu√©s dans les accidents en tant que passagers, mais aussi potentiellement comme conducteurs avec moins d'exp√©rience.

* **Jeunes adultes (18‚Äì24 ans)** cod√© **3**:  
   Premier groupe majeur de conducteurs. Ils sont √©galement fortement repr√©sent√©s parmi les passagers et les pi√©tons.
   C'est une tranche d'√¢ge souvent impliqu√©e dans des comportements √† risque (alcool, vitesse, imprudence), ce qui peut les rendre particuli√®rement vuln√©rables.

* **Adultes actifs (25‚Äì64 ans)** cod√© **4**:
   Groupe principal des conducteurs et passagers. Les adultes dans cette tranche d'√¢ge ont souvent un r√¥le important dans les accidents, qu'ils soient responsables ou victimes.
   Cette cat√©gorie regroupe des individus souvent impliqu√©s dans des trajets professionnels ou priv√©s.

* **Seniors jeunes (65‚Äì74 ans)** cod√© **5**:  
   Bien qu'ils soient moins impliqu√©s dans les accidents que les jeunes adultes, les seniors peuvent √™tre passagers, pi√©tons, ou conducteurs.
   Les capacit√©s physiques diminuent avec l'√¢ge, ce qui peut augmenter la vuln√©rabilit√© dans un accident, notamment en tant que pi√©tons.

* **Seniors avanc√©s (75 ans et plus)** cod√© **6**:  
   Cette cat√©gorie regroupe des individus souvent vuln√©rables en raison de leurs capacit√©s physiques ou mentales. Ils peuvent √™tre pi√©tons, passagers, ou conducteurs.
   Les cons√©quences d'un accident peuvent √™tre plus graves pour cette tranche d'√¢ge, ce qui en fait un groupe particuli√®rement int√©ressant √† analyser dans les √©tudes de s√©curit√© routi√®re.

In [15]:
# Cr√©ation d'une variable √¢ge √† partir de l'ann√©e de naissance
usagers['age'] = 2023 - usagers['an_nais']

# D√©finition des intervalles et des cat√©gories correspondantes
#Elle a l'avantage de prendre moins de temps que la premi√®re
bins = [0, 14, 17, 24, 64, 74, float('inf')]  # Intervalles d'√¢ge
code = [1, 2, 3, 4, 5, 6]                   # Cat√©gories

# Transformation de l'√¢ge en variable cat√©gorielle
usagers['age'] = pd.cut(usagers['age'], bins=bins, labels=code, right=True, include_lowest=True)

#Suppression de la variable an_nais
del usagers['an_nais']
# V√©rification des r√©sultats
usagers

/tmp/ipykernel_14181/260911466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usagers['age'] = 2023 - usagers['an_nais']
/tmp/ipykernel_14181/260911466.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usagers['age'] = pd.cut(usagers['age'], bins=bins, labels=code, right=True, include_lowest=True)

,Num_Acc,id_usager,id_vehicule,num_veh,grav,place,sexe,secu1,secu2,secu3,age
0,202300000001,203¬†851¬†184,155¬†680¬†557,A01,4,1,1,2,0,-1,4
1,202300000002,203¬†851¬†182,155¬†680¬†556,A01,1,1,2,1,0,-1,4
2,202300000002,203¬†851¬†183,155¬†680¬†556,A01,3,10,1,0,-1,-1,4
3,202300000003,203¬†851¬†180,155¬†680¬†554,B01,3,1,1,2,6,0,4
4,202300000003,203¬†851¬†181,155¬†680¬†555,A01,1,1,2,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203¬†720¬†720,155¬†583¬†346,A01,4,1,1,2,0,-1,4
125785,202300054821,203¬†720¬†721,155¬†583¬†347,B01,1,1,2,1,0,-1,4
125786,202300054822,203¬†720¬†717,155¬†583¬†344,A01,1,2,2,1,-1,-1,3
125787,202300054822,203¬†720¬†718,155¬†583¬†344,A01,1,1,2,1,-1,-1,3
125788,202300054822,203¬†720¬†719,155¬†583¬†345,B01,3,1,2,2,-1,-1,4

Les trois bases de donn√©es √©tant maintenant pr√™te, nous pouvons proc√©der √† leur fusion en utilisant la cl√© **Num_Acc** faciliter nos analyses

In [16]:
#Fusion des bases caract-2023 et usagers-2023
data = pd.merge(caract,usagers, on='Num_Acc', how='left')
data=pd.merge(data,vehicules,on='id_vehicule',how="left")
data=data.dropna()
data

,Num_Acc_x,mois,lum,dep,atm,com,agg,lat,long,id_usager,...,place,sexe,secu1,secu2,secu3,age,Num_Acc_y,num_veh_y,catv,motor
0,202300000001,5,1,75,2,75101,2,"48,86638600","2,32347100",203¬†851¬†184,...,1,1,2,0,-1,4,202300000001,A01,30,1
1,202300000002,5,5,94,3,94080,2,"48,84547782","2,42868146",203¬†851¬†182,...,1,2,1,0,-1,4,202300000002,A01,7,1
2,202300000002,5,5,94,3,94080,2,"48,84547782","2,42868146",203¬†851¬†183,...,10,1,0,-1,-1,4,202300000002,A01,7,1
3,202300000003,5,1,94,2,94022,2,"48,76240000","2,40655000",203¬†851¬†180,...,1,1,2,6,0,4,202300000003,B01,2,1
4,202300000003,5,1,94,2,94022,2,"48,76240000","2,40655000",203¬†851¬†181,...,1,2,1,0,0,4,202300000003,A01,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123186,202300054821,10,1,973,1,97302,1,"4,89713000","-52,32854000",203¬†720¬†720,...,1,1,2,0,-1,4,202300054821,A01,30,1
123187,202300054821,10,1,973,1,97302,1,"4,89713000","-52,32854000",203¬†720¬†721,...,1,2,1,0,-1,4,202300054821,B01,7,1
123188,202300054822,10,1,69,6,69387,2,"45,73306000","4,82540000",203¬†720¬†717,...,2,2,1,-1,-1,3,202300054822,A01,7,1
123189,202300054822,10,1,69,6,69387,2,"45,73306000","4,82540000",203¬†720¬†718,...,1,2,1,-1,-1,3,202300054822,A01,7,1
123190,202300054822,10,1,69,6,69387,2,"45,73306000","4,82540000",203¬†720¬†719,...,1,2,2,-1,-1,4,202300054822,B01,50,3

In [60]:
data.isnull().any()

Num_Acc_x      False
mois           False
dep            False
atm            False
com            False
lat            False
long           False
id_usager      False
id_vehicule    False
num_veh_x      False
grav           False
sexe           False
secu1          False
secu2          False
secu3          False
age            False
Num_Acc_y      False
num_veh_y      False
catv           False
motor          False
dtype: bool